@page
@model PrivacyModel
@{
    ViewData["Title"] = "Legal & Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<h2>Disclaimers:</h2>

<p>
    By using this software, you agree to the following disclaimers...
</p>

<ul>
    <li>The developer of the software will not be responsible for the stability of the application.</li>
    <li>The software is provided "AS IS" and is not under a WARRANTY of any kind.</li>
    <li>The software will not be sold, or otherwise leased without express concent of the developer before doing so.</li>
</ul>
